<div class="container">
  <h1>Eat the (veggie) Burger<span class="userName"></span><span id="changeUser">change<br>name</span></h1>
  <img src="/assets/img/burger.png" class="burgerimage">
  <h3>Create your fantasy burger, and then devour it!</h3>

  <form action="/burgers/" method="POST" class="create-burger">
    <textarea type="text" name="burger_name">Create a burger...</textarea>
    <input type="hidden" name="userID" />
    <button type="submit">Submit</button>
  </form>

  <div class="category undevoured">
  {{#each burgers}}
    {{#unless this.devoured}}
      <div class="burger">
        <h3 class="burger-name">{{this.burger_name}}</h3>
        <form class="devour-burger">
          <input type="hidden" name="burgerID" value="{{this.id}}">
          <button type="submit" id="devourBurger">Devour this burger</button>
        </form>
        <div class="info info-id">Created by {{this.createdBy}} at {{this.createdAt}}</div>
      </div>
    {{/unless}}
  {{/each}}
  </div>

  <div class="category devoured">
  <h3>Someone already ate these:</h3>
  {{#each burgers}}
    {{#if this.devoured}}
      <div class="burger">
        <h3 class="burger-name">{{this.burger_name}}</h3>
        <div class="info info-id">Created by {{this.createdBy}} at  {{this.createdAt}}</div>
        <div class="info info-date">Eaten by {{this.devouredBy}} at {{this.updatedAt}}</div>
      </div>
    {{/if}}
  {{/each}}
  </div>

</div>